.nations ul {
  padding: 0; }

.nations li {
  list-style: none; }

.nations .panel {
  position: absolute;
  color: #303030;
  width: 340px; }
  .nations .panel li {
    height: 50px;
    line-height: 46px;
    color: #fcfcfc;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 2em;
    transition-duration: 0.5s; }
    .nations .panel li:hover {
      background-color: #44a7e9;
      padding-left: 4em; }

.nations canvas {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  vertical-align: top; }

.nations #nations {
  display: inline-block;
  vertical-align: top; }
