// Colors
$color-white: rgb(252, 252, 252);
$color-black: rgb(20, 20, 20);

$color-light: rgb(214, 214, 214);
$color-dark: rgb(48, 48, 48);

$color-primary: rgb(60, 136, 187);
$color-primary-light: rgb(68, 167, 233);
$color-primary-dark: rgb(29, 97, 143);

// Panels
$panel-width: 400px;